{% extends "base.html" %}

{% block content %}
<noscript><iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-MHJCHW"
        style="display: none; visibility: hidden" width="0"></iframe></noscript>
<main>
    {% include 'components/header.html' %}
    {% include "components/hero.html" %}
    {% include "components/products.html" %}
    {% include 'components/footer.html' %}
</main>
<script src="/js/lazy.js"></script>
{% endblock %}