<section class="section section-relative" id="page-block-063tf2xq5kki">
    <div class="section-holder-border item-block item-absolute"></div>
    <div class="section-holder-overlay item-block item-absolute"></div>
    <div class="section-block">
        <div class="section-inner section-fit section-relative">
            <div class="widget item-absolute" id="element-19">
                <div class="contents cropped item-block">
                    <img alt="calgon.co.uk" class="item-content-box item-block image img-lazy"
                        data-retina-src="/images/60218925-0-calgon.co.uk.png"
                        data-src="/images/60218925-0-calgon.co.uk.png"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mM89h8AApEBx2iaqpQAAAAASUVORK5CYII=" />
                </div>
            </div>
            <div class="widget item-absolute paragraph" id="element-18">
                <div class="contents">
                    <p class="generic-style-11 generic-style-6">
                        <span class="generic-style-8">
                            <a aria-label="FAQ" class="url-link" href="https://www.calgon.co.uk/faq/">FAQ</a>
                               -   
                            <a aria-label="Buy Online" class="url-link" href="https://www.calgon.co.uk/buy-online/">BUY
                                ONLINE</a>
                               -   
                            <a aria-label="Contact Us" class="url-link"
                                href="https://www.calgon.co.uk/contact-us/">CONTACT US</a>
                               -   
                            <a aria-label="Sitemap" class="url-link"
                                href="https://www.calgon.co.uk/sitemap/">SITEMAP</a>
                               -   
                            <a aria-label="Privacy" class="url-link"
                                href="https://www.calgon.co.uk/privacy-statement/">PRIVACY STATEMENT</a>
                             -   
                            <a aria-label="Terms &amp; Conditions" class="url-link"
                                href="https://www.calgon.co.uk/terms-and-conditions/">TERMS AND CONDITIONS</a>
                               -   
                            <a aria-label="Cookie Policy" class="url-link"
                                href="https://www.calgon.co.uk/cookie-policy/">COOKIE POLICY</a>
                               -   
                            <a aria-label="Careers" class="url-link" href="https://www.rb.com/careers/">CAREERS</a>
                        </span>
                    </p>
                </div>
            </div>
            <div class="widget item-absolute paragraph" id="element-20">
                <div class="contents">
                    <p class="generic-style-11 generic-style-6"><span class="generic-style-8">© 2022 Reckitt Benckiser -
                            All Rights Reserved</span></p>
                </div>
            </div>
        </div>
    </div>
</section>