<section class="section section-relative " id="page-block-5qdm8qhkpts" data-at="section">

    <div class="section-holder-border item-block item-absolute" data-at="section-border"></div>
    <div class="section-holder-overlay item-block item-absolute" data-at="section-overlay"></div>
    <div class="section-block">
        <div class="section-inner section-fit section-relative">
            <div class="widget item-absolute  " id="element-32">
                <div class="contents cropped item-block" data-at="image-cropp">
                </div>
            </div>

            <div class="widget item-absolute headline hidden-mobile " id="element-7" data-at="headline">
                <div class="contents">
                    <h1>
                        <span class="x_3579aa00 x_8b9ce48e"><a href="https://www.calgon.co.uk/faq/"
                                id="link-3p9zia55ev1" aria-label="FAQ" data-link-3p9zia55ev1="" class="url-link"><span
                                    class="x_c330c52d">FAQ</span></a></span>
                    </h1>
                </div>
            </div>

            <div class="widget item-absolute hidden-mobile" id="element-3">
                <div class="contents shape  line-vertical line " data-at="shape"></div>
            </div>

            <div class="widget item-absolute hidden-mobile" id="element-4">
                <div class="contents shape  line-vertical line " data-at="shape"></div>
            </div>

            <div class="widget item-absolute hidden-mobile" id="element-5">
                <div class="contents shape  line-vertical line " data-at="shape"></div>
            </div>

            <div class="widget item-absolute hidden-mobile" id="element-6">
                <div class="contents shape  line-vertical line " data-at="shape"></div>
            </div>

            <div class="widget item-absolute  " id="element-9">
                <a href="https://www.calgon.co.uk/calgon-3in1/" id="link-rs0tm85fhg" class="url-link btn    item-block"
                    data-at="button" data-link-rs0tm85fhg="">
                    HOW IT WORKS
                </a>
            </div>

            <div class="widget item-absolute  " id="element-10">
                <a href="https://www.calgon.co.uk/promo/" id="link-0kzq3th9y3dr" class="url-link btn    item-block"
                    data-at="button" data-link-0kzq3th9y3dr="">
                    COUPON
                </a>
            </div>

            <div class="widget item-absolute  " id="element-11">
                <a href="https://www.calgon.co.uk/3in1/" id="link-9uu5ee0ucxm" class="url-link btn    item-block"
                    data-at="button" data-link-9uu5ee0ucxm="">
                    NEW 3IN1
                </a>
            </div>

            <div class="widget item-absolute  " id="element-12">
                <a href="https://www.calgon.co.uk/am-i-affected-by-hard-water/bad-odours-in-your-washing-machine-and-laundry/#"
                    id="link-wpgm38s6bk" class="url-link btn    item-block" data-at="button" data-link-wpgm38s6bk="">
                    PRODUCTS
                </a>
            </div>

            <div class="widget item-absolute  " id="element-13">
                <a href="https://www.calgon.co.uk/am-i-affected-by-hard-water/" id="link-ypfvfyyp9e8"
                    class="url-link btn    item-block" data-at="button" data-link-ypfvfyyp9e8="">
                    AM I AFFECTED BY HARD WATER?
                </a>
            </div>

        </div>
    </div>
</section>