<section class="section section-relative" id="page_block_footer">
    <div class="section-holder-border item-block item-absolute"></div>
    <div class="section-holder-overlay item-block item-absolute"></div>
    <div class="section-block">
        <div class="section-inner section-fit section-relative">
            <div class="widget item-absolute headline" id="element-33">
                <div class="contents">
                    <h1>
                        <span class="generic-style-7 generic-style-2">
                            <span class="generic-style-4"><strong>BAD ODOURS IN YOUR WASHING MACHINE AND
                                    LAUNDRY?</strong></span>
                        </span>
                    </h1>
                </div>
            </div>
            <div class="widget item-absolute" id="element-34">
                <div class="contents shape line-horizontal line"></div>
            </div>
            <div class="widget item-absolute" id="element-35">
                <div class="contents shape line-horizontal line"></div>
            </div>
            <div class="widget item-absolute" id="element-37">
                <div class="contents shape box figure"></div>
            </div>
            <div class="widget item-absolute paragraph" id="element-39">
                <div class="contents">
                    {{ hero_html.0|safe }}
                </div>
            </div>
            <div class="widget item-absolute paragraph" id="element-74">
                <div class="contents">
                    {{ hero_html.1|safe }}
                </div>
            </div>
            <div class="widget item-absolute" id="element-208">
                <div class="contents shape box figure"></div>
            </div>
            <div class="widget item-absolute" id="element-75">
                <a class="url-link btn item-block" href="https://www.calgon.co.uk/am-i-affected-by-hard-water/">AM I
                    AFFECTED BY HARD WATER?</a>
            </div>
        </div>
    </div>
</section>