<section class="section section-relative" id="page-block-cv81zuadhh5">
    <div class="section-holder-border item-block item-absolute"></div>
    <div class="section-holder-overlay item-block item-absolute"></div>
    <div class="section-block">
        <div class="section-inner section-fit section-relative">
            <div class="widget item-absolute headline" id="element-56">
                <div class="contents">
                    <h1>
                        <span class="calgon-product-range calgon-product-range">
                            <strong><span class="generic-style-7">Calgon Product Range</span></strong>
                        </span>
                    </h1>
                </div>
            </div>
            <div class="widget item-absolute" id="element-47">
                <div class="contents shape img-lazy box figure" data-src="{{products.0.image}}">
                </div>
            </div>
            <div class="widget item-absolute" id="element-80">
                <div class="contents shape img-lazy box figure" data-src="{{products.1.image}}">
                </div>
            </div>
            <div class="widget item-absolute" id="element-89">
                <div class="contents shape img-lazy box figure" data-src="{{products.2.image}}">
                </div>
            </div>
            <div class="widget item-absolute headline" id="element-76">
                <div class="contents">
                    <h1>
                        <span class="generic-style-4">
                            <strong><span class="generic-style-7">{{products.0.product_title}}</span></strong>
                        </span>
                    </h1>
                </div>
            </div>
            <div class="widget item-absolute headline" id="element-86">
                <div class="contents">
                    <h1>
                        <span class="generic-style-4">
                            <span class="generic-style-7"><strong>{{products.1.product_title}}</strong></span>
                        </span>
                    </h1>
                </div>
            </div>
            <div class="widget item-absolute headline" id="element-95">
                <div class="contents">
                    <h1>
                        <span class="generic-style-4">
                            <span class="generic-style-7"><strong>{{products.2.product_title}}</strong></span>
                        </span>
                    </h1>
                </div>
            </div>
            <div class="widget item-absolute paragraph" id="element-50">
                <div class="contents">
                    <p class="generic-style-2">{{products.0.summary}}</p>
                </div>
            </div>
            <div class="widget item-absolute paragraph" id="element-82">
                <div class="contents">
                    <p class="generic-style-2">{{products.1.summary}}</p>
                </div>
            </div>
            <div class="widget item-absolute paragraph" id="element-91">
                <div class="contents">
                    <p class="generic-style-2">{{products.2.summary}}</p>
                </div>
            </div>
            <div class="widget item-absolute" id="element-73">
                <a class="url-link btn item-block" href="{{products.0.url1}}">MORE INFO</a>
            </div>
            <div class="widget item-absolute" id="element-84">
                <a class="url-link btn item-block" href="{{products.1.url1}}">MORE INFO</a>
            </div>
            <div class="widget item-absolute" id="element-93">
                <a class="url-link btn item-block" href="{{products.2.url1}}">MORE
                    INFO</a>
            </div>
            <div class="widget item-absolute" id="element-192">
                <a class="url-link btn item-block" href="{{products.0.url2}}">
                    BUY NOW
                </a>
            </div>
            <div class="widget item-absolute" id="element-193">
                <a class="url-link btn item-block" href="{{products.1.url2}}">BUY
                    NOW</a>
            </div>
            <div class=" widget item-absolute" id="element-194">
                <a class="url-link btn item-block" href="{{products.2.url2}}">
                    BUY NOW
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section section-relative" id="page-block-b1umv9q0i2v">
    <div class="section-holder-border item-block item-absolute"></div>
    <div class="section-holder-overlay item-block item-absolute"></div>
    <div class="section-block">
        <div class="section-inner section-fit section-relative">
            <div class="widget item-absolute" id="element-129">
                <div class="contents shape img-lazy box figure" data-src="{{products.3.image}}">
                </div>
            </div>
            <div class="widget item-absolute" id="element-152">
                <div class="contents shape img-lazy box figure" data-src="{{products.4.image}}">
                </div>
            </div>
            <div class="widget item-absolute" id="element-145">
                <div class="contents shape img-lazy box figure" data-src="{{products.5.image}}">
                </div>
            </div>
            <div class="widget item-absolute headline" id="element-135">
                <div class="contents">
                    <h1>
                        <span class="generic-style-4">
                            <span class="generic-style-7"><strong>{{products.3.product_title}}</strong></span>
                        </span>
                    </h1>
                </div>
            </div>
            <div class="widget item-absolute headline" id="element-143">
                <div class="contents">
                    <h1>
                        <span class="generic-style-4">
                            <span class="generic-style-7"><strong>{{products.4.product_title}}</strong></span>
                        </span>
                    </h1>
                </div>
            </div>
            <div class="widget item-absolute headline" id="element-151">
                <div class="contents">
                    <h1>
                        <span class="generic-style-4">
                            <span class="generic-style-7"><strong>{{products.5.product_title}}</strong></span>
                        </span>
                    </h1>
                </div>
            </div>
            <div class="widget item-absolute paragraph" id="element-131">
                <div class="contents">
                    <p class="generic-style-2">{{products.3.summary}}</p>
                </div>
            </div>
            <div class="widget item-absolute paragraph" id="element-139">
                <div class="contents">
                    <p class="generic-style-2">{{products.4.summary}}</p>
                </div>
            </div>
            <div class="widget item-absolute paragraph" id="element-147">
                <div class="contents">
                    <p class="generic-style-2">{{products.5.summary}}</p>
                </div>
            </div>
            <div class="widget item-absolute" id="element-133">
                <a class="url-link btn item-block" href="{{products.3.url1}}">MORE
                    INFO</a>
            </div>
            <div class="widget item-absolute" id="element-141">
                <a class="url-link btn item-block" href="{{products.4.url1}}">MORE INFO</a>
            </div>
            <div class="widget item-absolute" id="element-149">
                <a class="url-link btn item-block" href="{{products.5.url1}}">MORE
                    INFO</a>
            </div>
            <div class="widget item-absolute" id="element-197">
                <a class="url-link btn item-block" href="{{products.3.url2}}">BUY
                    NOW</a>
            </div>
            <div class="widget item-absolute" id="element-196">
                <a class="url-link btn item-block" href="{{products.4.url2}}">BUY
                    NOW</a>
            </div>
            <div class="widget item-absolute" id="element-195">
                <a class="url-link btn item-block" href="{{products.5.url2}}">
                    BUY NOW
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section section-relative" id="page-block-8i95adxommx">
    <div class="section-holder-border item-block item-absolute"></div>
    <div class="section-holder-overlay item-block item-absolute"></div>
    <div class="section-block">
        <div class="section-inner section-fit section-relative">
            <div class="widget item-absolute" id="element-199">
                <div class="contents shape circle figure"></div>
            </div>
            <div class="widget item-absolute" id="element-191">
                <div class="contents shape img-lazy box figure" data-src="{{products.6.image}}">
                </div>
            </div>
            <div class="widget item-absolute headline" id="element-201">
                <div class="contents">
                    <h1>
                        <span class="new new">
                            <strong><span class="generic-style-5">NEW</span></strong>
                        </span>
                    </h1>
                </div>
            </div>
            <div class="widget item-absolute headline" id="element-189">
                <div class="contents">
                    <h1>
                        <span class="generic-style-4">
                            <span class="generic-style-7"><strong>{{products.6.product_title}}</strong></span>
                        </span>
                    </h1>
                </div>
            </div>
            <div class="widget item-absolute paragraph" id="element-185">
                <div class="contents">
                    <p class="generic-style-2">{{products.6.summary}}</p>
                </div>
            </div>
            <div class="widget item-absolute" id="element-187">
                <a class="url-link btn item-block" href="{{products.6.url1}}">MORE
                    INFO</a>
            </div>
            <div class="widget item-absolute" id="element-198">
                <a class="url-link btn item-block" href="{{products.6.url2}}">
                    BUY NOW
                </a>
            </div>
        </div>
    </div>
</section>